.formElement {
  box-sizing: border-box;
  position: relative;
  padding: 0.8rem;
  background-color: $white-1000;
  border: 0.1rem solid $gray-500;
  border-radius: 0.2rem;
  height: 4.8rem;
  width: 100%;
  cursor: pointer;
  &.in-focus,
  &.in-focus:hover {
    background-color: $white-1000;
    border: 0.2rem solid $indigo-500;
    box-shadow: 0px 0px 0px 2px $indigo-200;
    .formElement__label {
      transform: scale(0.85714) translateY(-0.3rem);
      width: 100%;
      color: $indigo-500;
    }
    .formElement__input {
      color: $gray-900;
    }
    + .formElement__flyOut-container .formElement__flyOut {
      transform: translateY(0);
    }
  }
  &.is-dirty {
    box-shadow: none;
    .formElement__label {
      transform: scale(0.85714) translateY(-0.3rem);
      width: 100%;
      color: $indigo-500;
    }
  }
  &.in-error {
    background-color: $red-200;
    border: 0.2rem solid $red-500;
    .formElement__label {
      color: $red-500;
    }
  }
  &.is-disabled {
    border-color: $gray-300;
    .formElement__label {
      color: $gray-400;
    }
  }
  &:hover {
    background-color: $indigo-100;
    border-color: $indigo-500;
  }
  &__label {
    position: absolute;
    transform-origin: top left;
    transform: scale(1) translateY(0.5rem);
    transition: transform 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 16px);
  }
  &__input {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: $indigo-800;
    transform: translateY(1.2rem);
    pointer-events: none;
    width: 100%;
  }
  &__flyOut-container {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 1000;
    overflow: hidden;
  }
  &__flyOut {
    transform: translateY(-100%);
    background-color: $white-1000;
    border: 1px solid $gray-500;
    margin: 0;
    transition: transform 0.3s ease;
    list-style: none;
    padding: 0.8rem 0;
  }
}
.dropDownContainer {
  position: relative;
}
.flyOut__item {
  height: 2.8rem;
  color: $gray-500;
  margin: 0;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $gray-100;
    color: $indigo-500;
  }
}
