.orionHeader {
}
.activeArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
}
.logoNav {
  display: flex;
}
.mainNav {
  display: flex;
  list-style: none;
}
.mainNavItem {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  padding: 8px 0 2px;
  margin: 0 8px;
  position: relative;
  top: -10px;
  cursor: pointer;
}
.mainNavItem.is_active {
  color: #fff;
}
.mainNavItem.is_active:after {
  content: '';
  position: absolute;
  border-radius: 1px;
  top: calc(100% + 4px);
  left: 0;
  background-color: #5bdfb8;
  width: 100%;
  height: 4px;
}
