$indigo-100: #ebebf7;
$indigo-200: #dbdbf1;
$indigo-300: #9999d6;
$indigo-400: #4d4db8;
$indigo-500: #000099;
$indigo-600: #000073;
$indigo-700: #00004d;
$indigo-800: #000026;

$blue-100: #e6eef8;
$blue-200: #bfd4ed;
$blue-300: #80aadb;
$blue-400: #407fc9;
$blue-500: #0055b8;
$blue-600: #00489b;
$blue-700: #003b81;
$blue-800: #002249;

$teal-100: #effcf8;
$teal-200: #d6f7ed;
$teal-300: #bdf2e3;
$teal-400: #8ce9cd;
$teal-500: #5bdfb8;
$teal-600: #44a78a;
$teal-700: #2e705c;
$teal-800: #17382e;

$gray-100: rgba(0, 0, 30, 0.02);
$gray-200: rgba(0, 0, 30, 0.06);
$gray-300: rgba(0, 0, 30, 0.12);
$gray-400: rgba(0, 0, 30, 0.28);
$gray-500: rgba(0, 0, 30, 0.44);
$gray-600: rgba(0, 0, 30, 0.6);
$gray-700: rgba(0, 0, 30, 0.76);
$gray-800: rgba(0, 0, 30, 0.88);
$gray-900: rgba(0, 0, 30, 1);

$red-100: #faeaea;
$red-200: #f2cacb;
$red-300: #e59698;
$red-400: #d86164;
$red-500: #cb2c30;
$red-600: #982124;
$red-700: #661618;
$red-800: #330b0c;

$green-100: #f2f9ea;
$green-200: #e4f3d6;
$green-300: #cae7ad;
$green-400: #a2d46f;
$green-500: #7ac231;
$green-600: #4f7e20;
$green-700: #314e14;
$green-800: #1f310c;

$orange-100: #fef2e9;
$orange-200: #fddfc9;
$orange-300: #fac092;
$orange-400: #f8a05c;
$orange-500: #f58025;
$orange-600: #a45619;
$orange-700: #7b4013;
$orange-800: #3d2009;

$cyan-100: #f2fbff;
$cyan-200: #ccefff;
$cyan-300: #99e0ff;
$cyan-400: #4dc8ff;
$cyan-500: #00b1ff;
$cyan-600: #007cb3;
$cyan-700: #004766;
$cyan-800: #002c40;

$yellow-100: #fffcf3;
$yellow-200: #fff4ce;
$yellow-300: #ffe89d;
$yellow-400: #ffd754;
$yellow-500: #ffc60b;
$yellow-600: #bf9508;
$yellow-700: #7f6205;
$yellow-800: #403102;

$white-700: rgba(255, 255, 255, 0.7);
$white-1000: rgba(255, 255, 255, 1);

$cp-bg: #eff1f3;
